* {
  font-family: "Hanken Grotesk", sans-serif;
}
:root {
  --light-red: #ff5757;
  --light-red-shade: #fff6f5;
  --orangey-yellow: #ffb01f;
  --orangey-yellow-shade: #fffbf2;
  --green-teal: #00bd91;
  --green-teal-shade: #f2fafa;
  --cobalt-blue: rgb(17, 37, 212);
  --cobal-blue-shade: #f3f3fd;
  --light-slate-blue: #7857ff;
  --light-royal-blue: #2e2be9;
  --violet-blue: #4e21ca;
  --persian-blue: #2421ca00;
  --White: #ffffff;
  --Pale-blue: #ebf1ff;
  --Light-lavender: #c8c7ff;
  --Dark-gray-blue: #303b5a;
}

@media screen and (min-width: 700px) {
  body {
    display: grid;
    align-content: center;
    width: 100vw;
    height: 100vh;
  }
  #main {
    -webkit-box-shadow: 24px 21px 37px -25px var(--Light-lavender);
    -moz-box-shadow: 24px 21px 37px -25px var(--Light-lavender);
    box-shadow: 24px 21px 37px -25px var(--Light-lavender);
    display: grid;
    width: 40rem;
    height: 30rem;
    margin: 0 auto;
    border-radius: 2rem;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    align-content: center;
  }
  #higlight-card {
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-around;
    width: 100%;
    height: 30rem;
    background: linear-gradient(180deg, var(--light-slate-blue) 0%, var(--light-royal-blue) 50%);
    border-radius: 2rem;
    align-items: center;
  }
  #user-score {
    border-radius: 50%;
    background: linear-gradient(180deg, var(--violet-blue), var(--persian-blue));
    width: 10rem;
    height: 10rem;
    text-align: center;
  }

  #reference {
    margin: 0;
    padding: 0;
    color: var(--Light-lavender);
    opacity: 0.7;
  }
  #score {
    color: var(--White);
    position: relative;
    margin: 1rem 0 0 0;
    font-size: 4rem;
    padding: 0;
  }
  #details-card {
    position: relative;
    top: 2em;
    display: flex;
    flex-flow: nowrap column;
    justify-self: center;
    width: 90%;

    height: 90%;
  }
  #submit-button {
    position: relative;
    left: 0.5em;
    top: 1.5em;
    margin: 0 auto;
    width: 96%;
    padding: 0.8em;
    border: none;
    border-radius: 15em;
    font-size: 1.1em;
    font-weight: 800;
    background: var(--Dark-gray-blue);
    color: var(--Pale-blue);
    cursor: pointer;
  }
  #submit-button:hover {
    background: linear-gradient(180deg, var(--light-slate-blue) 0%, var(--light-royal-blue) 50%);
  }
  #submit-button:active {
    background: linear-gradient(180deg, var(--light-slate-blue) 0%, var(--light-royal-blue) 50%);
  }
  .higlight-card__title {
    text-align: center;
    color: var(--Light-lavender);
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(48, 59, 90, 1);
  }
  .text-info {
    position: relative;
    text-align: center;
    top: -1em;
    color: var(--White);
    width: 70%;
  }
  .text-info__title {
    font-size: 2rem;
  }
  .text-info__p {
    color: var(--Light-lavender);
    opacity: 0.9;
    text-shadow: 1px 1px 3px rgba(48, 59, 90, 1);
  }
  .details-card__title {
    color: var(--Dark-gray-blue);
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 1.5em;
    padding: 0;
    text-align: left;
    width: 70%;
    margin-left: 1.1em;
  }
  .score-info {
    display: grid;
    grid-template-columns: 2em 6em 6.3em;
    text-align: left;
    align-items: center;
    position: relative;
    left: 0.7em;
    margin: 0 0 1em 0;
    padding: 0.7em 0.6em 0.7em 0.6em;
    width: 90%;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.1em;
  }
  .reaction {
    background: var(--light-red-shade);
    border-radius: 10px;
  }
  .memory {
    background: var(--orangey-yellow-shade);
    border-radius: 10px;
  }
  .verbal {
    background: var(--green-teal-shade);
    border-radius: 10px;
  }
  .visual {
    background: var(--cobal-blue-shade);
    border-radius: 10px;
  }
  .fa-bolt,
  .reaction .score-title {
    color: var(--light-red);
  }
  .fa-brain,
  .memory .score-title {
    color: var(--orangey-yellow);
  }
  .fa-comment-dots,
  .verbal .score-title {
    color: var(--green-teal);
  }
  .fa-eye,
  .visual .score-title {
    color: var(--cobalt-blue);
  }
  .score-info__percentage {
    display: flex;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
  }
  .score-info__percentage b {
    font-size: 1em;
    margin: 0;
    margin-right: 0.3em;
  }
  .score-info__percentage span {
    opacity: 0.5;
    font-weight: 600;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 699px) {
  * {
    margin: 0;
    padding: 0;
    justify-self: center;
  }
  #main {
    display: flex;
    flex-flow: nowrap column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  #higlight-card {
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-around;
    width: 100%;
    height: 30rem;
    background: linear-gradient(180deg, var(--light-slate-blue) 0%, var(--light-royal-blue) 50%);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    align-items: center;
  }
  #user-score {
    border-radius: 50%;
    background: linear-gradient(180deg, var(--violet-blue), var(--persian-blue));
    width: 10rem;
    height: 10rem;
    text-align: center;
  }

  #reference {
    margin: 0;
    padding: 0;
    color: var(--Light-lavender);
    opacity: 0.7;
  }
  #score {
    color: var(--White);
    position: relative;
    margin: 1rem 0 0 0;
    font-size: 4rem;
    padding: 0;
  }
  #details-card {
    position: relative;
    top: 2em;
    display: flex;
    flex-flow: nowrap column;
    margin: 0 auto;
    width: 90%;
    height: 80%;
  }
  #submit-button {
    position: relative;
    right: 2.1vw;
    margin: 0 auto;
    width: 85vw;
    padding: 0.8em;
    border: none;
    border-radius: 15em;
    font-size: 1.1em;
    font-weight: 800;
    background: var(--Dark-gray-blue);
    color: var(--Pale-blue);
    cursor: pointer;
  }
  #submit-button:hover {
    background: linear-gradient(180deg, var(--light-slate-blue) 0%, var(--light-royal-blue) 50%);
    cursor: pointer;
  }
  #submit-button:active {
    background: linear-gradient(180deg, var(--light-slate-blue) 0%, var(--light-royal-blue) 50%);
    cursor: pointer;
  }
  .higlight-card__title {
    text-align: center;
    color: var(--Light-lavender);
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(48, 59, 90, 1);
  }
  .text-info {
    position: relative;
    text-align: center;
    top: -1em;
    color: var(--White);
    width: 70%;
  }
  .text-info__title {
    font-size: 2rem;
  }
  .text-info__p {
    color: var(--Light-lavender);
    opacity: 0.9;
    text-shadow: 1px 1px 3px rgba(48, 59, 90, 1);
  }
  .details-card__title {
    color: var(--Dark-gray-blue);
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 1.5em;
    padding: 0;
    text-align: left;
    width: 70%;
  }
  .score-info {
    display: grid;
    grid-template-columns: 5vw 40vw 35vw;
    text-align: left;
    align-items: center;
    position: relative;
    left: 0.9vw;
    margin: 0 0 1em 0;
    padding: 1vh;
    width: 90%;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.1em;
  }
  .reaction {
    background: var(--light-red-shade);
    border-radius: 10px;
  }
  .memory {
    background: var(--orangey-yellow-shade);
    border-radius: 10px;
  }
  .verbal {
    background: var(--green-teal-shade);
    border-radius: 10px;
  }
  .visual {
    background: var(--cobal-blue-shade);
    border-radius: 10px;
  }
  .fa-bolt,
  .reaction .score-title {
    color: var(--light-red);
  }
  .fa-brain,
  .memory .score-title {
    color: var(--orangey-yellow);
  }
  .fa-comment-dots,
  .verbal .score-title {
    color: var(--green-teal);
  }
  .fa-eye,
  .visual .score-title {
    color: var(--cobalt-blue);
  }
  .score-info__percentage {
    display: flex;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
  }
  .score-info__percentage b {
    font-size: 1em;
    margin: 0;
    margin-right: 0.3em;
  }
  .score-info__percentage span {
    opacity: 0.5;
    font-weight: 600;
    font-size: 0.9em;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
